name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Check version
        id: version-check
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: node .github/scripts/version-changed.mjs

      - if: steps.version-check.outputs.changed == 'true'
        uses: ./.github/actions/release
        with:
          npm-token: ${{ secrets.NPM_TOKEN }}
